@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
}

@layer base {
  body {
    @apply bg-neutral-950 text-white;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525252;
}